
.navigation {
  list-style: none;
  margin: 0; 
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.mountNode {
  color: #333;
}

.product-card{
text-align:center;
padding:10px;
border: solid 1px #ccc;
  height:250px;
  width:220px;
  margin-left: 10px;
  margin-right: 10px;
}

.shopping-panel{
  text-align:center;
padding:10px;
border: solid 1px #ccc;
  height:250px;
  width:220px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: '#ccc0';
   margin-top: 20px;
}
.container-list {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  margin-top: 20px;
}

.container {
  display: flex;
}


.product-card img{
  height:100px;
  width:100px;

}
.center{
  margin: 0 auto;
}
.product-card button{
  width:200px;
}